body {
	font-family: sans-serif;
	height: 100%;
	text-align: center;
        color: #orange;
	width: 100%;
}

h1 {
	font-size: 24px;
	font-family: sans-serif;	
	margin: 10;
	text-align: left;
        color: #orange;
	width: 100%;
}

h2 {
	color: #4B4B4D;

	text-align: center;
	font-family: sans-serif;
	font-size: 24px; 
}	

p {
	color: #4B4B4D;
	margin: 12;
	text-align: left;
	font-family: sans-serif;
	font-size: 16px;
}



